<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Symfony Learn - {% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

    <!-- bootstrap -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="{{ asset("assets/css/style.css") }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous"/>
    {% block stylesheets %}
        {# {{ encore_entry_link_tags('app') }} #}
    {% endblock %}



    {% block javascripts %}
        {# {{ encore_entry_script_tags('app') }} #}
    {% endblock %}
</head>



{% include 'header.html.twig' %}

{# <div style="float: right">
    {{ render(controller('App\\Controller\\TopicController::randomQuote')) }}
</div> #}



<body>
{% block fullwidth %}
{% endblock %}
<div class="container principal mt-3">
    {# messages flash #}
    {% block flashes %}
        {% for key, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ key }}" role="alert">{{ message }}</div>
            {% endfor %}
        {% endfor %}
    {% endblock %}


    {% block body %}{% endblock %}
</div>
</body>
<script src="https://cdn.tiny.cloud/1/u6zik9yzzlcapf5y7n0pwub4wd28h84gj1j3z7dltm1sd7sc/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>

<script type="text/javascript" src="{{ asset("assets/js/script.js") }}"></script>
<script></script>
{% include 'footer.html.twig' %}
</html>
