{{ form_start(form) }}
    {{ form_widget(form.text) }}
    {{ form_widget(form.description) }}
    {{ form_widget(form.illustration) }}

    <button class="btn btn-success ">{{ button_label }}</button>
{{ form_end(form) }}
